<h1>Trips</h1>


<table border="1">

	<% @trips.each do |trip| %>
	<tr><%= trip.destination %></tr>
	<tr><%= trip.origin %></tr>
	<tr><%= trip.length_of_stay %></tr>
	<tr><%= trip.accomplished %></tr>
	
	<% end %>
</table>