<h1>Registered Travelers<h1>

<table class="table table-striped">
	<% @travelers.each do |traveler| %>
	<tr>
	<td><%= traveler.email %></td>
	<td><%= traveler.name %></td>
	<td><%= image_tag traveler.gravatar_url %></td>
	<% end %>
</tr>
</table>

