	<button type="button" class="btn btn-default btn-lg">
		<%= link_to  ("Home"), '/' %>
	</button>

	<button type="button" class="btn btn-default btn-lg">
		<%= link_to  ("Add a Trip"), '/trips/new' %>
	</button>

<h1>Registered Travelers</h1>
	
<div class="container">
	<table class="table">
		<% @travelers.each do |traveler| %>
		<tr>
		<td><h2><%= traveler.name %></h2></td>
		<td><%= image_tag traveler.gravatar_url,:class => "img-rounded"%></td>
		</tr>
		<% end %>
	</table>
</div>
