<!DOCTYPE html>
<html>
<head>
  <title>ComeWithMe</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


	<% link_to "sign-in", new_traveler_session_path %>
	<% link_to "sign-up", new_traveler_registration_path %>
	
<%= yield %>

</body>
</html>
